Assests/Documentation/Node Red Import.txt
[{"id":"7a61f54d.4cf7bc","type":"tab","label":"Sequencer Pump / Light","disabled":false,"info":""},{"id":"636dd4a5.d1d72c","type":"tab","label":"Text Block","disabled":false,"info":""},{"id":"60013b9e.3834f4","type":"tab","label":"Disabled Extras","disabled":true,"info":""},{"id":"c24bb908.8770d8","type":"tab","label":"BME280","disabled":false,"info":""},{"id":"b47e7fe2.7f01d","type":"tab","label":"PH Meter","disabled":false,"info":""},{"id":"2f589434.82520c","type":"tab","label":"Sonic Water Level","disabled":true,"info":""},{"id":"d441e7bb.f9d6f8","type":"tab","label":"Water Temp","disabled":true,"info":""},{"id":"4141dff5.5a496","type":"tab","label":"Date and Time","disabled":false,"info":""},{"id":"9b46c9c6.291228","type":"tab","label":"Photo","disabled":false,"info":""},{"id":"fefc30d.fdbffd","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"e6da470a.f349b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e7de7c23.3b32c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#00f900","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f69ac509.73cad8","type":"ui_group","z":"","name":"Readings","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"462164c4.076f1c","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"8","collapse":false},{"id":"bfcf4e1f.299fe","type":"ui_group","z":"","name":"Date and Time","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"5b3d4146.4af14","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0x0D","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"911638ec.377578","type":"ui_group","z":"","name":"Calibration","tab":"","order":1,"disp":true,"width":"6"},{"id":"b03faef4.79252","type":"ui_group","z":"","name":"Setpoints","tab":"","order":2,"disp":true,"width":"6"},{"id":"a22a6d06.65acd","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0x0D","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"472e6aab.301284","type":"ui_group","z":"","name":"Readings","tab":"","order":2,"disp":true,"width":"6"},{"id":"8c411b2f.bdc208","type":"ui_group","z":"","name":"Readings","tab":"8687461a.fb7bb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bbc4992.2053568","type":"ui_group","z":"","name":"Date and Time","tab":"8687461a.fb7bb8","order":2,"disp":false,"width":"7","collapse":false},{"id":"dd770eb5.36c8d","type":"ui_group","z":"","name":"Lights On/Off","tab":"","disp":true,"width":"4","collapse":false},{"id":"ca27483a.0ea148","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0x0D","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"d66aa427.dfbf38","type":"ui_group","z":"","name":"Calibration","tab":"","order":1,"disp":true,"width":"6"},{"id":"add372e8.b06cf","type":"ui_group","z":"","name":"Setpoints","tab":"","order":2,"disp":true,"width":"6"},{"id":"a4a9ffbe.7b7f","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0x0D","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"841b203.6e35ce","type":"ui_group","z":"","name":"Readings","tab":"","order":2,"disp":true,"width":"6"},{"id":"8387b05f.5bcf7","type":"ui_group","z":"","name":"Little Pump On/Off:","tab":"","disp":true,"width":"3","collapse":false},{"id":"8687461a.fb7bb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"190cf696.995649","type":"ui_group","z":"","name":"Readings","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"fe9881c3.57ded","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"8","collapse":false},{"id":"bae792b8.74f86","type":"ui_group","z":"","name":"Lights On/Off","tab":"","disp":true,"width":"6","collapse":false},{"id":"bb3bcdfe.cebd5","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0x0D","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"636f54c6.02a72c","type":"ui_group","z":"","name":"Date and Time","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"d28a2a15.eb3408","type":"ui_group","z":"","name":"Calibration","tab":"c2428e3.c00627","order":1,"disp":true,"width":"6"},{"id":"e967f2b1.1c415","type":"ui_group","z":"","name":"Setpoints","tab":"c2428e3.c00627","order":2,"disp":true,"width":"6"},{"id":"7919aa86.6fc624","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0x0D","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"2391db68.bc0504","type":"ui_group","z":"","name":"Readings","tab":"","order":2,"disp":true,"width":"6"},{"id":"2beda8e3.9ffae8","type":"ui_group","z":"","name":"Little Pump On/Off:","tab":"","disp":true,"width":"3","collapse":false},{"id":"c2428e3.c00627","type":"ui_tab","z":"","name":"PH Calibration","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"b71e56d8.630688","type":"ui_group","z":"","name":"Readings","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"527124d.47bd5dc","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":false,"width":"8","collapse":false},{"id":"47cefdec.a7f1c4","type":"ui_group","z":"","name":"LED Control","tab":"a6a1710a.f61cb","order":1,"disp":true,"width":"6","collapse":false},{"id":"866bb389.7e8ee","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0x0D","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"19f361b1.92aade","type":"ui_group","z":"","name":"Date and Time","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"3b6b7f4a.ac59f","type":"ui_group","z":"","name":"Calibration","tab":"","order":1,"disp":true,"width":"6"},{"id":"b49da32c.56bb8","type":"ui_group","z":"","name":"Setpoints","tab":"","order":2,"disp":true,"width":"6"},{"id":"2c0cd1b.69ec82e","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0x0D","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"fd4fd096.287b4","type":"ui_group","z":"","name":"Readings","tab":"","order":2,"disp":true,"width":"6"},{"id":"ca0cf66b.3d1b38","type":"ui_group","z":"","name":"Little Pump Control","tab":"a6a1710a.f61cb","order":3,"disp":true,"width":"6","collapse":false},{"id":"a6a1710a.f61cb","type":"ui_tab","z":"","name":"Config","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"510d597d.cf1898","type":"ui_group","z":"","name":"Big Pump Control","tab":"a6a1710a.f61cb","order":2,"disp":true,"width":"6","collapse":false},{"id":"26d96c28.b1a434","type":"ui_group","z":"","name":"          ","tab":"102c515d.d743cf","disp":true,"width":"17","collapse":false},{"id":"102c515d.d743cf","type":"ui_tab","z":"","name":"About","icon":"fa-cogs","order":6},{"id":"8a7ccbb5.a5b728","type":"sftp","z":"","host":"t3.n1nj4.net","port":"22","username":"pi","password":"VERticalGROwTOWer","hmac":"hmac-sha2-256,hmac-sha2-512,hmac-sha1","cipher":"aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm"},{"id":"4c2cbe64.2c796","type":"ui_group","z":"","name":"About","tab":"8687461a.fb7bb8","order":3,"disp":false,"width":"7","collapse":false},{"id":"2e9ae10.081c52","type":"ui_group","z":"","name":"Default","tab":"b1751e73.9260d","disp":true,"width":"6","collapse":false},{"id":"b1751e73.9260d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"2b4f1733.3c90b8","type":"ui_group","z":"","name":"Photo","tab":"a6a1710a.f61cb","order":4,"disp":true,"width":"6","collapse":false},{"id":"5b3a4c05.ae02f4","type":"ui_spacer","name":"spacer","group":"26d96c28.b1a434","order":3,"width":"17","height":"3"},{"id":"fd05fad1.4f5f98","type":"camerapi-takephoto","z":"9b46c9c6.291228","filemode":"1","filename":"","filedefpath":"0","filepath":"/home/pi/GrowPics/","fileformat":"jpeg","resolution":"7","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"","x":260,"y":60,"wires":[["6c66d156.ccb75","78e74497.d1c62c","b18d5123.99507"]],"inputLabels":["0"],"outputLabels":["0"]},{"id":"c2b630aa.babac","type":"inject","z":"9b46c9c6.291228","name":"","topic":"1","payload":"","payloadType":"num","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":60,"wires":[["fd05fad1.4f5f98"]]},{"id":"25bde2c6.c2f63e","type":"Bme280","z":"c24bb908.8770d8","name":"","bus":"1","address":"0x76","topic":"bme280","extra":true,"x":340,"y":100,"wires":[["a2879ba0.a316c8","11ed4f2b.534a51","53b20ce7.8763c4","c445c7b7.88723","4a50243d.73fd4c"]]},{"id":"634822ec.f76a4c","type":"inject","z":"c24bb908.8770d8","name":"inject every second","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":100,"wires":[["25bde2c6.c2f63e"]]},{"id":"11ed4f2b.534a51","type":"debug","z":"c24bb908.8770d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":220,"wires":[]},{"id":"a2879ba0.a316c8","type":"change","z":"c24bb908.8770d8","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":100,"wires":[["e700f02a.cea688"]]},{"id":"eccd94f0.166a58","type":"comment","z":"c24bb908.8770d8","name":"BME 280","info":"","x":120,"y":40,"wires":[]},{"id":"adb6677a.f85678","type":"ui_text","z":"c24bb908.8770d8","group":"bbc4992.2053568","order":4,"width":0,"height":0,"name":"","label":"Air Temperature","format":"{{msg.payload}}","layout":"col-center","x":740,"y":160,"wires":[]},{"id":"97a24c91.76f0c8","type":"ui_text","z":"c24bb908.8770d8","group":"bbc4992.2053568","order":3,"width":"0","height":"0","name":"","label":"Air Humidity","format":"{{msg.payload}}%","layout":"col-center","x":770,"y":100,"wires":[]},{"id":"e700f02a.cea688","type":"function","z":"c24bb908.8770d8","name":"round","func":"var prev=msg.payload;\n\n\n    water=Math.round(prev);\n    \n\n\nvar newMsg={payload:water};\n  \n  \nreturn newMsg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["97a24c91.76f0c8"]]},{"id":"53b20ce7.8763c4","type":"function","z":"c24bb908.8770d8","name":"format temp data","func":"var tempC=msg.payload.temperature_C;\n\nairC=Math.round(tempC*100)/100;\n\nvar tempF=msg.payload.temperature_F;\n\nairF=Math.round(tempF*100)/100;\n\nvar air =airC+\"°C : \"+airF+\"°F\";\n    \nvar newMsg={payload:air};\n  \nreturn newMsg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["adb6677a.f85678"]]},{"id":"c445c7b7.88723","type":"BME280-Parse","z":"c24bb908.8770d8","name":"","x":440,"y":340,"wires":[["2d0cd9fa.79f54e"],["2d0cd9fa.79f54e"],["2d0cd9fa.79f54e"]]},{"id":"2d0cd9fa.79f54e","type":"publish-to-influxdb","z":"c24bb908.8770d8","name":"","hostname":"66.228.55.221","port":"8086","database":"db0","x":720,"y":340,"wires":[[]]},{"id":"a9a76ca0.d5cfa8","type":"ui_button","z":"b47e7fe2.7f01d","name":"","group":"d28a2a15.eb3408","order":2,"width":"3","height":"1","passthru":false,"label":"Calibrate PH","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":740,"wires":[["ca081b84.90a778"]]},{"id":"18291f3f.a138e9","type":"ui_button","z":"b47e7fe2.7f01d","name":"","group":"d28a2a15.eb3408","order":3,"width":"3","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"step","x":872.5556030273438,"y":651.5556335449219,"wires":[["db1cd689.834fc8"]]},{"id":"bef49190.64dff","type":"ui_text","z":"b47e7fe2.7f01d","group":"d28a2a15.eb3408","order":8,"width":"6","height":"4","name":"Instructions","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"col-center","x":890,"y":824.4167175292969,"wires":[]},{"id":"467225a1.8c5864","type":"ui_button","z":"b47e7fe2.7f01d","name":"","group":"d28a2a15.eb3408","order":4,"width":"2","height":"1","passthru":false,"label":"Mid Cal","color":"","bgcolor":"","icon":"","payload":"midcal","payloadType":"str","topic":"step","x":879.8887939453125,"y":689.8890380859375,"wires":[["21edca4d.543eae"]]},{"id":"c035c099.0b4888","type":"ui_button","z":"b47e7fe2.7f01d","name":"","group":"d28a2a15.eb3408","order":5,"width":"2","height":"1","passthru":false,"label":"Low Cal","color":"","bgcolor":"","icon":"","payload":"lowcal","payloadType":"str","topic":"step","x":878.8888549804688,"y":729.5556030273438,"wires":[["7f1b0124.833a08"]]},{"id":"ca081b84.90a778","type":"change","z":"b47e7fe2.7f01d","name":"Initialise","rules":[{"t":"set","p":"step","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":299.11114501953125,"y":694,"wires":[["a6c7978b.ef22a8"]]},{"id":"b6082318.1b4bb8","type":"ui_text","z":"b47e7fe2.7f01d","group":"d28a2a15.eb3408","order":6,"width":"0","height":"0","name":"Heading and Timer","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":909.9168701171875,"y":867.0834655761719,"wires":[]},{"id":"2b2771cb.6b1206","type":"function","z":"b47e7fe2.7f01d","name":"Step Timer","func":"var time = flow.get(\"timer\");\nvar msg1 ={};\nvar step = flow.get(\"step\");\nvar cal = flow.get(\"calpoints\");\nmsg.topic = \"Timer:\";\n\nif(time === 0){\n    flow.set(\"running\",false);\n    step ++;\n    if(step == 9){step = 0;}\n    if(cal ==1 && step == 4){step = 8;}\n    if(cal ==2 && step == 6){step = 8;}\n    flow.set(\"step\",step);\n    msg.payload = time + \"s\";\n    msg1.topic = \"\";\n    msg1.payload =\"Step: \"+step;\n    return [msg1,msg];\n}\n\nif (time > 0 && flow.get(\"running\")){\n    msg.payload = time + \"s\";\n    time --;\n    flow.set(\"timer\",time);\n    return [null,msg];\n}\n\n","outputs":"2","noerr":0,"x":475.88885498046875,"y":804.1113789876304,"wires":[["a6c7978b.ef22a8"],["b6082318.1b4bb8"]]},{"id":"202cf5cd.b048ea","type":"inject","z":"b47e7fe2.7f01d","name":"1 sec timer","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":154.4444580078125,"y":800.6666768391929,"wires":[["bb72b83e.ad0b38"]]},{"id":"db1cd689.834fc8","type":"change","z":"b47e7fe2.7f01d","name":"step 1","rules":[{"t":"set","p":"timer","pt":"flow","to":"10","tot":"num"},{"t":"set","p":"running","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1049.111083984375,"y":646.8888854980469,"wires":[["fc205fe9.4105d"]]},{"id":"9bf87a07.10ae08","type":"comment","z":"b47e7fe2.7f01d","name":"Settings","info":"\nThe 'Continuous' switch on the UI will tell the Ezo unit to send\nreadings all the time (every 1sec). If this is off then you can set an\ninterval in seconds on the UI.\n\nThe 'Temperature Compensation Auto' switch when in auto will use a value\ncoming in from a temperature probe (see the 'Temperature Compensation' comment node)\nto compensate for buffer solution temperature when calibrating pH probe.\nIf this is turned off then the temperature value of the buffer solution can\nbe entered manually in the UI. \n\nSolution constants\nThese should be found on your buffer solution bottles ,but please check as\nmanufactures vary. Depending on if you are doing 1,2, or 3 point calibration set\neach value in the UI\n\nNote:\nI personally use the buffer constant on the bottle at the default 25°C then\nuse the temparture compensation of the unit to adjust automatically. To my\nknowledge this is correct, but if any body knows overwise please tell me. ","x":630.5,"y":920.0833435058594,"wires":[]},{"id":"3f45ddf1.a928aa","type":"comment","z":"b47e7fe2.7f01d","name":"Calibration pH README","info":"First thing is to read the 'Serial Commands' comment node to set up the serial\ncomms before doing anything else. The ph_EZO_datasheet.pdf is a good source of\ninformation from the Atlas Scientific site https://www.atlas-scientific.com/ for\nfull functionality and operations.\n\nThe readings per second switch and numeric selector on the UI is not\nstrictly part of calibrating but is a function of the serial port to get reading\nback from the EZO pH unit so I have added it here to get you started if needed.\n\n\n'Cal Points' UI selection can be set to 1,2, or 3 point calibration\nset this before pressing the Calibration button.\n\nThe 'Calibration' button will start the instruction process for calibrating\nthe pH probe. It is not essential but advised that if you have a temperature probe\nto measure the buffer solution, put it in know. There is a time period where you can\ndo it during the calibration step if you forget.\n\nBasically follow the instructions on screen for calibration. These are just reminders\nfor me when I do mine but if you look in the 'Calibration Steps' function block you can\nchange the text to what feels best for you. You can run through the steps with no serial\nport connected if you wish to get an idea of how the flow works.\n\nIn the flow are 2 named 'delay' nodes, these set the settle period for the steps when the probe\nis in the buffer solutions and when temperature compensating. If you feel they are too short\nor too long please adjust to your needs.\n\nPlease Note:\n\nThis flow is only released as a starting point for anyone wishing to use the EZO pH device\nover serial in a node red enviroment.\nI use this same flow along with other flows for my aquarium with no problem.\nBut it is a work in progress so it is up to yourself to verify that it works how you\nwant it to.","x":685.1944580078125,"y":420.41668701171875,"wires":[]},{"id":"a6c7978b.ef22a8","type":"delay","z":"b47e7fe2.7f01d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":474.00006103515625,"y":698.2223510742188,"wires":[["b018bea6.454608","1e6ec531.b003d3"]]},{"id":"7008f6f7.7af23","type":"ui_numeric","z":"b47e7fe2.7f01d","name":"","label":"Mid cal pH","group":"e967f2b1.1c415","order":2,"width":0,"height":0,"passthru":true,"topic":"mid","format":"{{value}}","min":"6.8","max":"7.2","step":"0.001","x":886.111124674479,"y":491.3333435058594,"wires":[["9451356e.2fc14"]]},{"id":"8d11010a.78cc28","type":"ui_numeric","z":"b47e7fe2.7f01d","name":"","label":"Low cal pH","group":"e967f2b1.1c415","order":3,"width":0,"height":0,"passthru":true,"topic":"low","format":"{{value}}","min":"3.8","max":"4.2","step":"0.001","x":885.77783203125,"y":529.77783203125,"wires":[["4275c03.3da474"]]},{"id":"82b7ef49.9d47d8","type":"change","z":"b47e7fe2.7f01d","name":"mid","rules":[{"t":"set","p":"topic","pt":"msg","to":"mid","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"7.000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":681.4444580078125,"y":518.6666870117188,"wires":[["7008f6f7.7af23"]]},{"id":"870ce4a1.3bb8c","type":"change","z":"b47e7fe2.7f01d","name":"low","rules":[{"t":"set","p":"topic","pt":"msg","to":"low","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"4.000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":682.3333740234375,"y":554.4444427490234,"wires":[["8d11010a.78cc28"]]},{"id":"b018bea6.454608","type":"function","z":"b47e7fe2.7f01d","name":"Calibration Steps","func":"var msg1={};// header text\nvar msg2={};//instruction text\nvar msg3={};//commands to pH meter\nvar step = flow.get(\"step\");\n\nif(!flow.get(\"running\")){\nswitch(step){\n    case 0:\n       msg1.topic= \"\";\n       msg1.payload=\"\";\n       msg2.topic=\"\";\n       msg2.payload=\"\";\n       return [msg1,msg2,null];\n       \n    case 1:\n       msg1.topic=\"\";\n       msg1.payload=\"\";\n       msg2.topic=\"<h3>Rinse Probe</h3>\";\n       msg2.payload=\"Remove pH probe from tank and place in cup of tap water and move around to rinse off, then press the start when ready and wait for the timer to finish.\";\n       global.set(\"calstart\",true);\n       return [msg1,msg2,null];\n    case 2:\n       msg1.topic=\"\";\n       msg1.payload=\"\";\n       msg2.topic = \"<h3>Temperature Compensation</h3> </p> Put temperature probe into any of your buffer solutions.</p> If entering manually check value in 'Compensation temp °C' \";\n       if (flow.get(\"compensate\")){\n         msg2.payload = \"<center>Temperature probe is \" + global.get(\"watertemp\").toFixed(1) +\"°C</center>\";\n         msg3.payload=\"tempcomp\";\n       }else{\n         msg2.payload =\"<center>Manual temperature is \" + flow.get(\"comptemp\") +\"°</center>\";\n         msg3.payload=\"tempcomp\";  \n       }\n       \n       flow.set(\"running\",true);\n       flow.set(\"timer\",60);\n       return [msg1,msg2,msg3];\n    case 3:\n       msg1.topic = \"Temperature Compensated\";\n       msg1.payload = global.get(\"watertemp\").toFixed(1) +\"°C\";\n       msg2.topic=\"<h3>Mid Point Cal</h3>\";\n       msg2.payload=\"Set pH 7.0 solution value in Setpoints Mid cal pH,then put small amount of solution into cup as directed by manufacture of probe and then place the probe into the cup, when ready press MID CAL button\";\n       return [msg1,msg2,null];\n    case 4:\n       msg1.topic = \"\";\n       msg1.payload = \"\";\n       msg2.topic=\"<h3>Rinse Probe</h3>\";\n       msg2.payload=\"Remove probe from solution and place in cup of tap water,then press start when ready and wait for timer to finish\";\n       return [msg1,msg2,null];\n    case 5:\n       msg1.topic = \"\";\n       msg1.payload = \"\";\n       msg2.topic=\"<h3>Low Point Cal</h3>\";\n       msg2.payload=\"Set pH 4.0 solution value in Setpoints Low cal pH,then put small amount of solution into cup as directed by manufacture of probe and then place the probe into the cup, when ready press LOW CAL button\";\n       return [msg1,msg2,null];\n    case 6:\n       msg1.topic = \"\";\n       msg1.payload = \"\";\n       msg2.topic=\"<h3>Rinse Probe</h3>\";\n       msg2.payload=\"Remove probe from solution and place in cup of tap water,then press start when ready and wait for timer to finish\";\n       return [msg1,msg2,null];\n    case 7:\n       msg1.topic = \"\";\n       msg1.payload = \"\";\n       msg2.topic=\"<h3>High Point Cal</h3>\";\n       msg2.payload=\"Set pH 10.0 solution value in Setpoints High cal pH,then put small amount of solution into cup as directed by manufacture of probe and then place the probe into the cup, when ready press HIGH CAL button\";\n       return [msg1,msg2,null];\n    case 8:\n       msg1.topic = \"\";\n       msg1.payload = \"\";\n       msg2.topic=\"<h3>Calibration completed</h3>\";\n       msg2.payload=\"Remove probe from solution and place in cup of tap water and rinse off probe, then put back in tank\";\n       global.set(\"calstart\",false);\n       msg3.payload = \"completed\";\n       return [msg1,msg2,msg3];\n  }\n}\n","outputs":"3","noerr":0,"x":679.07421875,"y":779.2778930664062,"wires":[["b6082318.1b4bb8"],["bef49190.64dff"],["a5a802a7.906ae8"]],"outputLabels":["start","mid cal","low cal"]},{"id":"21edca4d.543eae","type":"change","z":"b47e7fe2.7f01d","name":"step 3","rules":[{"t":"set","p":"timer","pt":"flow","to":"120","tot":"num"},{"t":"set","p":"running","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1048.72216796875,"y":683.3056030273438,"wires":[["fc205fe9.4105d"]]},{"id":"7f1b0124.833a08","type":"change","z":"b47e7fe2.7f01d","name":"step 5","rules":[{"t":"set","p":"timer","pt":"flow","to":"120","tot":"num"},{"t":"set","p":"running","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1048.9444580078125,"y":722.8611145019531,"wires":[["fc205fe9.4105d"]]},{"id":"91a16037.92faf","type":"ui_numeric","z":"b47e7fe2.7f01d","name":"cal points","label":"Cal Points","group":"d28a2a15.eb3408","order":1,"width":0,"height":0,"passthru":false,"topic":"calpoints","format":"{{value}}","min":"1","max":"3","step":1,"x":881.3111572265625,"y":608.8833312988281,"wires":[["738518ad.6d8748"]]},{"id":"719adc1a.02286c","type":"change","z":"b47e7fe2.7f01d","name":"cal point","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"calpoints","pt":"flow","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":691.3111572265625,"y":627.3166809082031,"wires":[["91a16037.92faf"]]},{"id":"d9b7c9af.cb96b8","type":"ui_button","z":"b47e7fe2.7f01d","name":"","group":"d28a2a15.eb3408","order":7,"width":"2","height":"1","passthru":false,"label":"High Cal","color":"","bgcolor":"","icon":"","payload":"highcal","payloadType":"str","topic":"topic","x":879.0835571289062,"y":772.1944274902344,"wires":[["7e1382ae.80fec4"]]},{"id":"7e1382ae.80fec4","type":"change","z":"b47e7fe2.7f01d","name":"step 7","rules":[{"t":"set","p":"timer","pt":"flow","to":"120","tot":"num"},{"t":"set","p":"running","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1049.611083984375,"y":761.5278015136719,"wires":[["fc205fe9.4105d"]]},{"id":"bb72b83e.ad0b38","type":"switch","z":"b47e7fe2.7f01d","name":"","property":"running","propertyType":"flow","rules":[{"t":"true"}],"checkall":"false","outputs":1,"x":314.4444580078125,"y":800.6666768391929,"wires":[["2b2771cb.6b1206"]]},{"id":"816cf717.499b3","type":"inject","z":"b47e7fe2.7f01d","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":150.8666534423828,"y":603.4111022949219,"wires":[["c190deb7.b91a38"]]},{"id":"c190deb7.b91a38","type":"change","z":"b47e7fe2.7f01d","name":"initial","rules":[{"t":"set","p":"running","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"step","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"calstart","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":580,"wires":[["82b7ef49.9d47d8","870ce4a1.3bb8c","719adc1a.02286c","a6c7978b.ef22a8","7e919423.2a381c","2a7f869d.d389d2","68c0ce21.8e4da"]]},{"id":"1e6ec531.b003d3","type":"function","z":"b47e7fe2.7f01d","name":"Button control","func":"var msg1={};//start button\nvar msg2={};//mid cal button\nvar msg3={};//low cal button\nvar msg4={};//high cal button\nvar step = flow.get(\"step\");\n\nif(!flow.get(\"running\")){\nswitch(step){\n    case 0:\n       msg1.enabled= false;\n       msg2.enabled= false;\n       msg3.enabled= false;\n       msg4.enabled= false;\n       return [msg1,msg2,msg3,msg4];\n       \n    case 1:\n       msg1.enabled= true;\n       msg2.enabled= false;\n       msg3.enabled= false;\n       msg4.enabled= false;\n       return [msg1,msg2,msg3,msg4];\n    case 2:\n       msg1.enabled= false;\n       msg2.enabled= false;\n       msg3.enabled= false;\n       msg4.enabled= false;\n       return [msg1,msg2,msg3,msg4];\n    case 3:\n       msg1.enabled= false;\n       msg2.enabled= true;\n       msg3.enabled= false;\n       msg4.enabled= false;\n       return [msg1,msg2,msg3,msg4];\n    case 4:\n       msg1.enabled= true;\n       msg2.enabled= false;\n       msg3.enabled= false;\n       msg4.enabled= false;\n       return [msg1,msg2,msg3,msg4];\n    case 5:\n       msg1.enabled= false;\n       msg2.enabled= false;\n       msg3.enabled= true;\n       msg4.enabled= false;\n       return [msg1,msg2,msg3,msg4];\n    case 6:\n       msg1.enabled= true;\n       msg2.enabled= false;\n       msg3.enabled= false;\n       msg4.enabled= false;\n       return [msg1,msg2,msg3,msg4];\n    case 7:\n       msg1.enabled= false;\n       msg2.enabled= false;\n       msg3.enabled= false;\n       msg4.enabled= true;\n       return [msg1,msg2,msg3,msg4];\n    case 8:\n       msg1.enabled= false;\n       msg2.enabled= false;\n       msg3.enabled= false;\n       msg4.enabled= false;\n       return [msg1,msg2,msg3,msg4];\n  }\n}\n","outputs":"4","noerr":0,"x":675.2000122070312,"y":701.4833374023438,"wires":[["18291f3f.a138e9"],["467225a1.8c5864"],["c035c099.0b4888"],["d9b7c9af.cb96b8"]]},{"id":"eb5197c2.edc848","type":"ui_text","z":"b47e7fe2.7f01d","group":"e967f2b1.1c415","order":1,"width":0,"height":0,"name":"","label":"Solution Constants ","format":"{{msg.payload}}","layout":"row-center","x":237.6944580078125,"y":521.3333282470703,"wires":[]},{"id":"738518ad.6d8748","type":"change","z":"b47e7fe2.7f01d","name":"cal","rules":[{"t":"set","p":"calpoints","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050.1851806640625,"y":609.6666564941406,"wires":[[]]},{"id":"e0a0942.55f2d68","type":"ui_ui_control","z":"b47e7fe2.7f01d","name":"","x":137.96298217773438,"y":647.8518676757812,"wires":[["c190deb7.b91a38"]]},{"id":"4275c03.3da474","type":"change","z":"b47e7fe2.7f01d","name":"lowcal","rules":[{"t":"set","p":"lowcal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1051.3111572265625,"y":535.2333374023438,"wires":[[]]},{"id":"9451356e.2fc14","type":"change","z":"b47e7fe2.7f01d","name":"midcal","rules":[{"t":"set","p":"midcal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1052.3111572265625,"y":492.23333740234375,"wires":[[]]},{"id":"412ccb49.7e765c","type":"ui_text","z":"b47e7fe2.7f01d","group":"e967f2b1.1c415","order":5,"width":0,"height":0,"name":"","label":"Readings in seconds","format":"{{msg.payload}}","layout":"row-center","x":245.6944580078125,"y":477.0833435058594,"wires":[]},{"id":"4585c901.9abcd","type":"ui_numeric","z":"b47e7fe2.7f01d","name":"","label":"pH every","group":"e967f2b1.1c415","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":" {{value}}","min":0,"max":10,"step":1,"x":691.3111572265625,"y":1049.0500183105469,"wires":[["290bc536.32ec8a"]]},{"id":"290bc536.32ec8a","type":"change","z":"b47e7fe2.7f01d","name":"phtime","rules":[{"t":"set","p":"phtime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":865.4444580078125,"y":1048.0833435058594,"wires":[[]]},{"id":"6314816a.59564","type":"function","z":"b47e7fe2.7f01d","name":"Cmd to Ezo","func":"if(msg.payload==\"midcal\"){\n    msg.payload=\"Cal,mid,\"+flow.get(\"midcal\");\n    return msg;\n}\nif(msg.payload==\"lowcal\"){\n    msg.payload=\"Cal,low,\"+flow.get(\"lowcal\");\n    return msg;\n}\nif(msg.payload==\"highcal\"){\n    msg.payload=\"Cal,high,\"+flow.get(\"highcal\");\n    return msg;\n}\nif(msg.payload==\"tempcomp\"){\n    if(flow.get(\"compensate\")){\n      msg.payload=\"T,\"+ global.get(\"watertemp\").toFixed(1);\n      return msg;\n    }else{\n      msg.payload=\"T,\"+ flow.get(\"comptemp\");\n      return msg;\n    }\n\n}\nif(msg.topic==\"continuous\"){\n    if(global.get(\"continuous\")){\n      msg.payload=\"C,1\";\n      return msg;  \n    }else{\n       msg.payload=\"C,0\";\n      return msg;   \n    }\n\n}\nif(msg.payload==\"completed\"){\n    msg.payload=\"Slope,?\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1237.0611572265625,"y":1069.9834289550781,"wires":[["b1d78df1.894a8"]]},{"id":"b65a6bce.84e16","type":"ui_numeric","z":"b47e7fe2.7f01d","name":"","label":"High cal pH","group":"e967f2b1.1c415","order":4,"width":0,"height":0,"passthru":true,"topic":"high","format":"{{value}}","min":"9.8","max":"10.2","step":"0.001","x":888.1944580078125,"y":569.0833435058594,"wires":[["b003c01d.8d24"]]},{"id":"7e919423.2a381c","type":"change","z":"b47e7fe2.7f01d","name":"high","rules":[{"t":"set","p":"topic","pt":"msg","to":"high","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"10.000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":681.75,"y":590.7499542236328,"wires":[["b65a6bce.84e16"]]},{"id":"b003c01d.8d24","type":"change","z":"b47e7fe2.7f01d","name":"highcal","rules":[{"t":"set","p":"highcal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050.727783203125,"y":571.5388488769531,"wires":[[]]},{"id":"a5a802a7.906ae8","type":"delay","z":"b47e7fe2.7f01d","name":"Compensation delay","pauseType":"delay","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1254.3111572265625,"y":809.4833679199219,"wires":[["6314816a.59564"]]},{"id":"fc205fe9.4105d","type":"delay","z":"b47e7fe2.7f01d","name":"Cal points delay","pauseType":"delay","timeout":"110","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1242.3111572265625,"y":756.7333374023438,"wires":[["6314816a.59564"]]},{"id":"b4d2ea1.69c7618","type":"ui_switch","z":"b47e7fe2.7f01d","name":"","label":"Continuous","group":"e967f2b1.1c415","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"continuous","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":461.06109619140625,"y":951.5500183105469,"wires":[["d9daa6cc.01e8d","c7570923.6e8b7"]]},{"id":"d9daa6cc.01e8d","type":"switch","z":"b47e7fe2.7f01d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":304.5611572265625,"y":1053.7333679199219,"wires":[["e0fb264f.c8c39"],["5472828d.2eec54"]]},{"id":"5472828d.2eec54","type":"change","z":"b47e7fe2.7f01d","name":"timed","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":475.0611572265625,"y":1068.2333679199219,"wires":[["4585c901.9abcd"]]},{"id":"e0fb264f.c8c39","type":"change","z":"b47e7fe2.7f01d","name":"cont","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":476.4444580078125,"y":1029.8333435058594,"wires":[["4585c901.9abcd"]]},{"id":"2a7f869d.d389d2","type":"change","z":"b47e7fe2.7f01d","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":282.8111267089844,"y":954.4833068847656,"wires":[["b4d2ea1.69c7618"]]},{"id":"c7570923.6e8b7","type":"change","z":"b47e7fe2.7f01d","name":"continuous","rules":[{"t":"set","p":"continuous","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"continuous","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":883.3111572265625,"y":1003.9833679199219,"wires":[["6314816a.59564"]]},{"id":"3ca7df7a.e7f1e","type":"ui_numeric","z":"b47e7fe2.7f01d","name":"","label":"Compensation temp °C","group":"e967f2b1.1c415","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":" {{value}}","min":"0","max":"30","step":"0.1","x":663.9444580078125,"y":1211.5833435058594,"wires":[["eda7043d.7b8af"]]},{"id":"49855f7e.886c","type":"ui_switch","z":"b47e7fe2.7f01d","name":"","label":"Temperature Compensate Auto","group":"e967f2b1.1c415","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"continuous","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":391.9444580078125,"y":1127.0833435058594,"wires":[["cbcaeff4.35591","76684a71.a8c63c"]]},{"id":"cbcaeff4.35591","type":"switch","z":"b47e7fe2.7f01d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":303.94439697265625,"y":1209.7666931152344,"wires":[["413ee17a.bd213"],["382421e8.e61e8e"]]},{"id":"413ee17a.bd213","type":"change","z":"b47e7fe2.7f01d","name":"auto","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":469.5777587890625,"y":1192.6167297363281,"wires":[["3ca7df7a.e7f1e"]]},{"id":"76684a71.a8c63c","type":"change","z":"b47e7fe2.7f01d","name":"compensate","rules":[{"t":"set","p":"compensate","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"compensate","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":879.9444580078125,"y":1096.2666931152344,"wires":[[]]},{"id":"382421e8.e61e8e","type":"change","z":"b47e7fe2.7f01d","name":"manual","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"20.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":466.9444580078125,"y":1237.5833435058594,"wires":[["3ca7df7a.e7f1e"]]},{"id":"68c0ce21.8e4da","type":"change","z":"b47e7fe2.7f01d","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":113.44442749023438,"y":1060.5833435058594,"wires":[["49855f7e.886c"]]},{"id":"eda7043d.7b8af","type":"change","z":"b47e7fe2.7f01d","name":"comptemp","rules":[{"t":"set","p":"comptemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":868.9444580078125,"y":1145.8333435058594,"wires":[[]]},{"id":"22bf2c32.f2b7ac","type":"serial in","z":"b47e7fe2.7f01d","name":"UART from Ezo pH","serial":"7919aa86.6fc624","x":180,"y":1440.0833435058594,"wires":[["ea6d307c.3b718"]]},{"id":"1279f539.952beb","type":"serial out","z":"b47e7fe2.7f01d","name":"UART to Ezo pH","serial":"7919aa86.6fc624","x":1319.75,"y":1442.5833435058594,"wires":[]},{"id":"b1d78df1.894a8","type":"function","z":"b47e7fe2.7f01d","name":"stringTobuffer","func":"var temp = Buffer.from(msg.payload);\nvar cr = new Buffer([0x0D]);\nmsg.payload = Buffer.concat([temp, cr]);\nreturn msg;","outputs":1,"noerr":0,"x":1094.25,"y":1408.0833435058594,"wires":[["1279f539.952beb"]]},{"id":"ea6d307c.3b718","type":"function","z":"b47e7fe2.7f01d","name":"Check response","func":"var temp = msg.payload;\ntemp = temp.trim();\nvar msg1 ={};\n\nif(isNaN(temp)){\n    msg.topic = \"ER\";\n    switch (temp){\n        case \"*OK\":\n            msg.topic = \"OK\";\n             msg.payload = \"Ok\";\n             break;\n        case \"*ER\":\n            msg.payload = \"Command failed\";\n            break;\n        case \"*OV\":\n            msg.payload = \"Over voltage (Vcc >= 5.5v)\";\n            break;\n        case \"*UV\":\n            msg.payload = \"Under voltage (Vcc <= 3.1v)\";\n            break;\n        case \"*RS\":\n            msg.payload = \"Unit has reset\";\n            break;\n        case \"*RE\":\n            msg.payload = \"Boot up complete, Ready\";\n            break;\n        case \"*SL\":\n            msg.topic = \"OK\";\n            msg.payload = \"Entering Sleep Mode\";\n            break;\n        case \"*WA\":\n            msg.topic = \"OK\";\n            msg.payload = \"Unit waking up\";\n            break;\n    }\n\n    return [msg,null];\n}else{\n    \n    msg1.payload=parseFloat(temp);\n    msg1.topic=\"pH\";\n    return [null,msg1];\n}\n","outputs":"2","noerr":0,"x":621.61669921875,"y":1464.9833679199219,"wires":[["fa89b9a2.586df8","ca52f7cf.d42de"],[]],"outputLabels":["response","reading"]},{"id":"2fa37054.e23a9","type":"inject","z":"b47e7fe2.7f01d","name":"1 sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":446.75,"y":1403.0833435058594,"wires":[["cd1be5b7.169bb"]]},{"id":"cd1be5b7.169bb","type":"function","z":"b47e7fe2.7f01d","name":"take reading","func":"var count = context.get(\"count\")||1;\nvar target = global.get(\"phtime\")||0;\nvar cal = global.get(\"calstart\")||false;\nif(!global.get(\"continuous\")){\n  if (count == target && !cal){\n    msg.payload=\"R\";\n    context.set(\"count\",0);\n    return msg;\n  }else{\n    count ++;\n    context.set(\"count\",count);\n  }\n}","outputs":1,"noerr":0,"x":610.25,"y":1403.0999450683594,"wires":[["b1d78df1.894a8"]]},{"id":"e14c8ed2.3acad","type":"comment","z":"b47e7fe2.7f01d","name":"Serial commands","info":"Commands for the Ezo pH unit over serial can be found\nin the pH_EZO datasheet.\nSerial send Node:\n\nOn itial copying of flow the Serial node will need setup:\n\nUse 'Search' symbol in node setup to find your serial port\non your device.ie /dev/usb:9600-8N1 or similar.\n\nBaud: 9600\nData bits: 8\nParity: None\nStop bits: 1\nSplit input: on the character  -then enter 0x0D in box\nand delivery: ascii string\n\nMake sure that both input and output Serial nodes have the\nsame configured port selected.If you look at the UI you\nshould see messeges displayed after the 'Status' label.\ninitial normal value would be 'Boot complete, Ready' or 'OK'","x":657.75,"y":1346.8333435058594,"wires":[]},{"id":"fdda4ca1.3a1f98","type":"comment","z":"b47e7fe2.7f01d","name":"Temperature compensation","info":"Temperature compensation when using buffer solutions can either\nbe entered in manually on the UI.\nIf available a temperature probe reading can be used instead\nof the 'Compensation temp' inject node, but how you get the reading\ninto node red is up to you.\nIf using a temperature probe this will need to be placed into the\nsolution during the Mid Cal step.","x":688.25,"y":1565.5833435058594,"wires":[]},{"id":"fa89b9a2.586df8","type":"ui_text","z":"b47e7fe2.7f01d","group":"d28a2a15.eb3408","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-left","x":989.61669921875,"y":1485.9333190917969,"wires":[]},{"id":"ca52f7cf.d42de","type":"switch","z":"b47e7fe2.7f01d","name":"Error reset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ER","vt":"str"}],"checkall":"true","outputs":1,"x":854.11669921875,"y":1438.3333435058594,"wires":[["c190deb7.b91a38"]]},{"id":"4ce563bc.c550dc","type":"serial in","z":"b47e7fe2.7f01d","name":"UART from Ezo pH","serial":"bb3bcdfe.cebd5","x":110,"y":100,"wires":[["8ae630fe.9e644"]]},{"id":"24f17fad.1572a","type":"serial out","z":"b47e7fe2.7f01d","name":"UART to Ezo pH","serial":"bb3bcdfe.cebd5","x":850,"y":40,"wires":[]},{"id":"ff6f407e.18e7c8","type":"function","z":"b47e7fe2.7f01d","name":"stringTobuffer","func":"var temp = Buffer.from(msg.payload);\nvar cr = new Buffer([0x0D]);\nmsg.payload = Buffer.concat([temp, cr]);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":40,"wires":[["24f17fad.1572a"]]},{"id":"8ae630fe.9e644","type":"function","z":"b47e7fe2.7f01d","name":"Check response","func":"var temp = msg.payload;\ntemp = temp.trim;\nvar msg1 ={};\n\nif(isNaN(temp)){\n    msg.topic = \"ER\";\n    switch (temp){\n        case \"*OK\":\n            msg.topic = \"OK\";\n             msg.payload = \"Ok\";\n             break;\n        case \"*ER\":\n            msg.payload = \"Command failed\";\n            break;\n        case \"*OV\":\n            msg.payload = \"Over voltage (Vcc >= 5.5v)\";\n            break;\n        case \"*UV\":\n            msg.payload = \"Under voltage (Vcc <= 3.1v)\";\n            break;\n        case \"*RS\":\n            msg.payload = \"Unit has reset\";\n            break;\n        case \"*RE\":\n            msg.payload = \"Boot up complete, Ready\";\n            break;\n        case \"*SL\":\n            msg.topic = \"OK\";\n            msg.payload = \"Entering Sleep Mode\";\n            break;\n        case \"*WA\":\n            msg.topic = \"OK\";\n            msg.payload = \"Unit waking up\";\n            break;\n    }\n\n    return [msg,null];\n}else{\n    \n    msg1.payload=parseFloat(temp);\n    msg1.topic=\"pH\";\n    return [null,msg1];\n}\n","outputs":"2","noerr":0,"x":310,"y":100,"wires":[["2cf4b3ed.de4aa4"],["5a0b81bd.1edcf"]],"outputLabels":["response","reading"]},{"id":"7b01a1cc.b57a2","type":"inject","z":"b47e7fe2.7f01d","name":"1 sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":280,"y":40,"wires":[["7167fdbc.663854","8ae630fe.9e644"]]},{"id":"7167fdbc.663854","type":"function","z":"b47e7fe2.7f01d","name":"take reading","func":"var count = context.get(\"count\")||1;\nvar target = global.get(\"phtime\")||0;\nvar cal = global.get(\"calstart\")||false;\nif(!global.get(\"continuous\")){\n  if (count == target && !cal){\n    msg.payload=\"R\";\n    context.set(\"count\",0);\n    return msg;\n  }else{\n    count ++;\n    context.set(\"count\",count);\n  }\n}","outputs":1,"noerr":0,"x":450,"y":40,"wires":[["ff6f407e.18e7c8"]]},{"id":"2cf4b3ed.de4aa4","type":"switch","z":"b47e7fe2.7f01d","name":"Error reset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ER","vt":"str"}],"checkall":"true","outputs":1,"x":530,"y":100,"wires":[[]]},{"id":"cf9c68d5.bc0a6","type":"comment","z":"b47e7fe2.7f01d","name":"Date  & Time","info":"","x":310,"y":180,"wires":[]},{"id":"89471327.7bef9","type":"debug","z":"2f589434.82520c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":510,"y":100,"wires":[]},{"id":"94735ea6.66094","type":"function","z":"2f589434.82520c","name":"Calculate Water Level","func":"var prev=msg.payload;\n\nif (prev >= 54 ) {\n    var water=0;\n} else\n{\n    var water=(53-prev);\n    water= water * 1.85;\n    water=water*1.74;\n    water=Math.round(water)\n    \n}\n\n\n\nvar newMsg={payload:water};\n  \n  \nreturn newMsg;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["9eacc913.3bc198","89471327.7bef9"]]},{"id":"9eacc913.3bc198","type":"ui_gauge","z":"2f589434.82520c","name":"","group":"8c411b2f.bdc208","order":2,"width":"7","height":"4","gtype":"gage","title":"Water Fill %","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff2600","#e6e600","#00fa00"],"seg1":"60","seg2":"80","x":510,"y":60,"wires":[]},{"id":"ec76a07.a84b46","type":"rpi-srf","z":"2f589434.82520c","name":"","topic":"SRF","pulse":"2","pins":"16,18","x":110,"y":60,"wires":[["94735ea6.66094"]]},{"id":"97f1344e.cf1d68","type":"inject","z":"d441e7bb.f9d6f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["7fa33e13.1241b"]]},{"id":"d9161d83.c2fe8","type":"debug","z":"d441e7bb.f9d6f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":120,"wires":[]},{"id":"7fa33e13.1241b","type":"rpi-ds18b20","z":"d441e7bb.f9d6f8","topic":"","array":false,"name":"","x":290,"y":80,"wires":[["d9161d83.c2fe8","1939387.88dd9c8"]]},{"id":"c8af71bb.09bc6","type":"ui_text","z":"d441e7bb.f9d6f8","group":"bbc4992.2053568","order":5,"width":0,"height":0,"name":"","label":"Water Temperature","format":"{{msg.payload}}","layout":"col-center","x":690,"y":80,"wires":[]},{"id":"1939387.88dd9c8","type":"function","z":"d441e7bb.f9d6f8","name":"format temp data","func":"var tempC=msg.payload;\n\nairC=Math.round(tempC*100)/100;\n\nairF= ((airC*9/5)+32)\n\nairF=Math.round(airF*100)/100;\n\nvar air = airC+\"°C : \"+airF+\"°F\";\n    \nvar newMsg={payload:air};\n  \nreturn newMsg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["c8af71bb.09bc6"]]},{"id":"27f1ebf4.8c3564","type":"comment","z":"4141dff5.5a496","name":"Date  & Time","info":"","x":90,"y":40,"wires":[]},{"id":"9e4bb4b.f857348","type":"ui_text","z":"4141dff5.5a496","group":"bbc4992.2053568","order":1,"width":"7","height":"1","name":"","label":"Date:","format":"{{msg.payload}}","layout":"col-center","x":450,"y":60,"wires":[]},{"id":"b4aa3656.284298","type":"inject","z":"4141dff5.5a496","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["56fa1f38.aa8d8","8c4da4bb.758918"]]},{"id":"ac8d2f0e.249e4","type":"debug","z":"4141dff5.5a496","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":100,"wires":[]},{"id":"56fa1f38.aa8d8","type":"function","z":"4141dff5.5a496","name":"date","func":"var ts = new Date();\nmsg.payload = ts.toLocaleDateString();\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["9e4bb4b.f857348","ac8d2f0e.249e4"]]},{"id":"8c4da4bb.758918","type":"function","z":"4141dff5.5a496","name":"Time","func":"var ts = new Date();\nmsg.payload = ts.toLocaleTimeString();\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["ac8d2f0e.249e4","5bbd1fbb.576be"]]},{"id":"5bbd1fbb.576be","type":"ui_text","z":"4141dff5.5a496","group":"bbc4992.2053568","order":2,"width":"7","height":"1","name":"","label":"Time:","format":"{{msg.payload}}","layout":"col-center","x":450,"y":140,"wires":[]},{"id":"9758c31.c42144","type":"schedex","z":"7a61f54d.4cf7bc","name":"LED Timer","suspended":false,"lat":"64.837845","lon":"-147.716675","ontime":"17:50","ontopic":"","onpayload":"1","onoffset":0,"onrandomoffset":0,"offtime":"07:30","offtopic":"","offpayload":"0","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":470,"y":120,"wires":[["1b80b3e.d3e684c","4aace523.3333fc"]],"inputLabels":["msg"],"outputLabels":["1"]},{"id":"28d96839.af9ff8","type":"sftp in","z":"9b46c9c6.291228","sftp":"8a7ccbb5.a5b728","operation":"put","filename":"","localFilename":"","fileContents":"","fileExtension":".jpg","workdir":"data/EPSCOR/images/","savedir":"","name":"","x":690,"y":60,"wires":[["2632948c.c7a03c"]]},{"id":"45cf2623.ddb0c8","type":"inject","z":"fefc30d.fdbffd","name":"Shutdown","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":180,"wires":[["27af9057.b4697"]]},{"id":"27af9057.b4697","type":"exec","z":"fefc30d.fdbffd","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":180,"wires":[[],[],[]]},{"id":"2632948c.c7a03c","type":"debug","z":"9b46c9c6.291228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":60,"wires":[]},{"id":"78e74497.d1c62c","type":"change","z":"9b46c9c6.291228","name":"","rules":[{"t":"set","p":"payload.filedata","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":60,"wires":[["28d96839.af9ff8"]]},{"id":"1b80b3e.d3e684c","type":"rpi-gpio out","z":"7a61f54d.4cf7bc","name":"LED Grow Lights","pin":"22","set":true,"level":"0","freq":"","out":"out","x":770,"y":120,"wires":[]},{"id":"4aace523.3333fc","type":"ui_text","z":"7a61f54d.4cf7bc","group":"47cefdec.a7f1c4","order":3,"width":"3","height":"1","name":"","label":"LED State:","format":"{{msg.payload}}","layout":"row-left","x":750,"y":80,"wires":[]},{"id":"b8c1e8ac.6e4088","type":"ui_slider","z":"60013b9e.3834f4","name":"","label":"Set On Time","tooltip":"","group":"47cefdec.a7f1c4","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"24","step":1,"x":210,"y":80,"wires":[["9e93c7e.1ffb038"]]},{"id":"9e93c7e.1ffb038","type":"function","z":"60013b9e.3834f4","name":"convert to time","func":"//input is 0 to 24\n//output should be 0:00 to 24:00\n\nvar time=msg.payload+\":00\";\n\nmsg.payload = {};\nmsg.payload.ontime = time;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["3ddec91a.aeabe6","17ce4733.d4c749"]]},{"id":"3ddec91a.aeabe6","type":"ui_text","z":"60013b9e.3834f4","group":"47cefdec.a7f1c4","order":6,"width":0,"height":0,"name":"","label":"Time ON","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":120,"wires":[],"inputLabels":["1"]},{"id":"aab35d3d.5eb13","type":"ui_slider","z":"60013b9e.3834f4","name":"","label":"Set OFF Time","tooltip":"","group":"47cefdec.a7f1c4","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"24","step":1,"x":220,"y":200,"wires":[["5fbad26.26e982c"]]},{"id":"5fbad26.26e982c","type":"function","z":"60013b9e.3834f4","name":"convert to time","func":"//input is 0 to 24\n//output should be 0:00 to 24:00\n\nvar time=msg.payload+\":00\";\nvar newMsg={payload:time};\nreturn newMsg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["6aebbd8b.db48a4","e453f716.a34c58"]]},{"id":"6aebbd8b.db48a4","type":"ui_text","z":"60013b9e.3834f4","group":"47cefdec.a7f1c4","order":7,"width":0,"height":0,"name":"","label":"Time OFF","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":240,"wires":[],"inputLabels":["0"]},{"id":"e453f716.a34c58","type":"change","z":"60013b9e.3834f4","name":"","rules":[{"t":"set","p":"payload.offtime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[[]]},{"id":"17ce4733.d4c749","type":"change","z":"60013b9e.3834f4","name":"","rules":[{"t":"set","p":"payload.ontime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":80,"wires":[["e8bae036.6598d"]]},{"id":"e8bae036.6598d","type":"switch","z":"60013b9e.3834f4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":80,"wires":[[]]},{"id":"77de4bc2.029fb4","type":"ui_button","z":"7a61f54d.4cf7bc","name":"","group":"510d597d.cf1898","order":3,"width":"3","height":"1","passthru":true,"label":"Turn On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":300,"y":360,"wires":[["f2d431f.80464d","d9052938.1592f8"]]},{"id":"f2d431f.80464d","type":"ui_text","z":"7a61f54d.4cf7bc","group":"510d597d.cf1898","order":4,"width":"3","height":"1","name":"","label":"Big Pump State:","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":360,"wires":[]},{"id":"d9052938.1592f8","type":"rpi-gpio out","z":"7a61f54d.4cf7bc","name":"Big Pump","pin":"32","set":true,"level":"0","freq":"","out":"out","x":760,"y":400,"wires":[]},{"id":"5d9bdd20.e730e4","type":"ui_button","z":"7a61f54d.4cf7bc","name":"","group":"ca0cf66b.3d1b38","order":5,"width":"3","height":"1","passthru":true,"label":"Turn on Lil Pump","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":270,"y":520,"wires":[["c738b21e.47cbc","53e11a93.be4e74"]]},{"id":"c738b21e.47cbc","type":"ui_text","z":"7a61f54d.4cf7bc","group":"ca0cf66b.3d1b38","order":6,"width":"3","height":"1","name":"","label":"Lil Pump State:","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":520,"wires":[]},{"id":"90672d86.66188","type":"inject","z":"7a61f54d.4cf7bc","name":"Turn on every 40 min","topic":"","payload":"1","payloadType":"num","repeat":"2400","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":440,"wires":[["5ab03786.758f58"]]},{"id":"53e11a93.be4e74","type":"rpi-gpio out","z":"7a61f54d.4cf7bc","name":"lil pump","pin":"38","set":true,"level":"0","freq":"","out":"out","x":760,"y":560,"wires":[]},{"id":"e26be596.95b708","type":"ui_button","z":"7a61f54d.4cf7bc","name":"","group":"ca0cf66b.3d1b38","order":5,"width":"3","height":"1","passthru":true,"label":"Turn off Lil Pump","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":270,"y":560,"wires":[["53e11a93.be4e74","c738b21e.47cbc"]]},{"id":"8a6b2052.d727e","type":"inject","z":"7a61f54d.4cf7bc","name":"turn off at start","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":280,"y":600,"wires":[["53e11a93.be4e74","c738b21e.47cbc"]]},{"id":"5ab03786.758f58","type":"trigger","z":"7a61f54d.4cf7bc","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"0","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":420,"y":440,"wires":[["d9052938.1592f8","f2d431f.80464d"]]},{"id":"8ab75c3.6a0aca","type":"ui_button","z":"7a61f54d.4cf7bc","name":"","group":"510d597d.cf1898","order":3,"width":"3","height":"1","passthru":true,"label":"Turn Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":300,"y":400,"wires":[["d9052938.1592f8","f2d431f.80464d"]]},{"id":"f412766a.e08e98","type":"ui_button","z":"7a61f54d.4cf7bc","name":"","group":"47cefdec.a7f1c4","order":1,"width":"3","height":"1","passthru":true,"label":"Turn On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":300,"y":100,"wires":[["9758c31.c42144"]]},{"id":"a87d3d96.5f7bb","type":"ui_button","z":"7a61f54d.4cf7bc","name":"","group":"47cefdec.a7f1c4","order":2,"width":"3","height":"1","passthru":true,"label":"Turn Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":300,"y":140,"wires":[["9758c31.c42144"]]},{"id":"c814100f.4de45","type":"ui_text","z":"636dd4a5.d1d72c","group":"4c2cbe64.2c796","order":1,"width":"7","height":"4","name":"splash text","label":"<center><h3>Your Very Own Grow Tower</h3> <br/><p>Created by UAF the Upward Bound and Teaching Through Technology 2019 team.</p><br/><p> http://t3alliance.org</p> </center>","format":"{{msg.payload}}","layout":"col-center","x":330,"y":100,"wires":[]},{"id":"5a0b81bd.1edcf","type":"ui_text","z":"b47e7fe2.7f01d","group":"bbc4992.2053568","order":5,"width":0,"height":0,"name":"","label":"Water PH","format":"{{value | number:2}}","layout":"col-center","x":520,"y":160,"wires":[]},{"id":"7cd2fa98.643b54","type":"ui_gauge","z":"c24bb908.8770d8","name":"","group":"8c411b2f.bdc208","order":3,"width":"6","height":"5","gtype":"gage","title":"Air Temperature","label":"°F","format":"{{value | number:2}}","min":"0","max":"100","colors":["#ca3838","#008f00","#0200b7"],"seg1":"32","seg2":"90","x":660,"y":60,"wires":[]},{"id":"4a50243d.73fd4c","type":"change","z":"c24bb908.8770d8","name":"Temp_F","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature_F","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":60,"wires":[["7cd2fa98.643b54"]]},{"id":"a996c0e9.9fca7","type":"inject","z":"fefc30d.fdbffd","name":"Reboot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":120,"wires":[["338698c5.870e18"]]},{"id":"338698c5.870e18","type":"exec","z":"fefc30d.fdbffd","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":120,"wires":[[],[],[]]},{"id":"b18d5123.99507","type":"exec","z":"9b46c9c6.291228","command":"raspistill","addpay":false,"append":"-w 320 -h 240 -o -","useSpawn":"false","timer":"","oldrc":false,"name":"","x":320,"y":220,"wires":[["75c39df0.73a1f4"],[],[]]},{"id":"9e649932.99fb08","type":"template","z":"9b46c9c6.291228","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":640,"y":220,"wires":[["ee3b67fe.8d36a8"]]},{"id":"ee3b67fe.8d36a8","type":"ui_template","z":"9b46c9c6.291228","group":"8c411b2f.bdc208","name":"","order":1,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":220,"wires":[[]]},{"id":"75c39df0.73a1f4","type":"base64","z":"9b46c9c6.291228","name":"","action":"str","property":"payload","x":480,"y":220,"wires":[["9e649932.99fb08"]]},{"id":"a7b9ef6f.3119e","type":"inject","z":"9b46c9c6.291228","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":100,"wires":[["fd05fad1.4f5f98"]]},{"id":"2d1bbc6.d8d3844","type":"link out","z":"fefc30d.fdbffd","name":"photo link","links":["335ed2a4.10d39e"],"x":475,"y":240,"wires":[]},{"id":"b6e8ba91.26ab68","type":"ui_button","z":"fefc30d.fdbffd","name":"","group":"2b4f1733.3c90b8","order":1,"width":0,"height":0,"passthru":false,"label":"Take Photo","tooltip":"","color":"black","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":350,"y":240,"wires":[["2d1bbc6.d8d3844"]]},{"id":"335ed2a4.10d39e","type":"link in","z":"9b46c9c6.291228","name":"","links":["2d1bbc6.d8d3844"],"x":80,"y":160,"wires":[["fd05fad1.4f5f98"]]},{"id":"6c66d156.ccb75","type":"debug","z":"9b46c9c6.291228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":120,"wires":[]},{"id":"2859740.ebe888c","type":"ui_text","z":"9b46c9c6.291228","group":"26d96c28.b1a434","order":2,"width":"17","height":"5","name":"","label":"   ","format":"<center> <font size = 5>Hello! Thank you for supporting the Alaska Upward Bound program by allowing us to build you an automated grow tower! Even though we’ve done a substantial amount of work, these towers still require TLC. These instructions walk you through how to care for and use your new grow tower! We wish you the best of luck! Feel free to share any flaws you find or improvements that we can make! ","layout":"col-center","x":550,"y":380,"wires":[]},{"id":"67338de6.812464","type":"ui_text","z":"9b46c9c6.291228","group":"26d96c28.b1a434","order":1,"width":"17","height":"2","name":"","label":"<center><font size = 10>    Grow Tower UAF Upward Bound 2019","format":"{{msg.payload}}","layout":"col-center","x":710,"y":320,"wires":[]},{"id":"d9b7a098.3a4e4","type":"ui_text","z":"9b46c9c6.291228","group":"26d96c28.b1a434","order":4,"width":0,"height":0,"name":"","label":"<center><font size = 2>Petie was here!","format":"{{msg.payload}}","layout":"col-center","x":640,"y":460,"wires":[]}]
